div.employeeType, table td {
    text-align: center;
}

div.employeeType, section.tabularData, section.formFields, section.formControls {
    display: block;
    margin: auto;
    width: 500px;
}

div.formField {
    margin: 10px;
}

div.formField input {
    float: right;
    width: 300px;
}

form {
    background-color: #eef0ef;
    padding: 20px;
}

header {
    font-size: 24px;
    padding: 50px 5px 5px;
    text-align: center;
}

.hide {
    display: none;
}

.noRecords {
    text-align: center;
}

.padTop {
    padding-top:15px;
}

section.formControls input{
    display: block;
    margin: auto;
}

table {
    border: 1px solid #000000;
    margin: 10px;
    width: 100%;
}

table tr td{
    padding: 15px;
}